*{
  /* background-color: black; */
  color: white;
}

body{
  /* giving the max-width */
    max-width: 1200px;
  margin: auto;
}

.color-changer{
  background-color: rgba(255, 255, 255, 0.582);
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 10%;
  border-radius: 10rem 0rem;
  border: 5px solid black;
}

.box-color{
  background-color: blanchedalmond;
  padding: 200px;
  margin: 10px;
  /* border: 5px solid black; */
  border-radius: 10%;
}

.random-color{
  padding: 10px 30px;
  text-transform: uppercase;
  border: none;
  border: 2px solid white;
  border-radius: 10rem;
  font-size: larger;
  background-color: black;
  cursor: pointer;
}